<% -include("public/header.ejs") %> 
<div class="container">
    <div class="row">
        <h1>Add one new post</h1>
        <form action="/article/doAdd" method="POST">
            <div class="form-group">
                <input class='form-control' name='title' type='text' placeholder="TITLE">
            </div>
            <div class="form-group">
                <input class='form-control' name='img' type='text' placeholder="URL">
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-default">Submit</button>
            </div>
        </form>
    </div>

</div>

<% -include("public/foot.ejs") %> 