<%- include("public/header.ejs") %> 
<div class='thumbnail'>
    <img class='img-responsive' src='<%= Article.img %> '>
    <div class='caption-full'>
        <h4><%= Article.title %> </h4>
    </div>
</div>

<%- include("public/foot.ejs") %> 